/* Global attributes */
* {
    /* Color palette */
    --lightest: #caf0f8;
    --second-lightest: #ade8f4;
    --third-lightest: #90e0ef;
    --medium-light: #0096c7;
    --medium: #00b4d8;
    --medium-dark: #0096c7;
    --third-darkest: #0077b6;
    --second-darkest: #023e8a;
    --darkest: #03045e;

    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--second-darkest);
    color: var(--second-lightest);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

/* Hero section */
header {
    padding: 20px;
}

header h1 {
    display: inline;
    font-size: 48px;
}

/* Navigation menu */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-flex;
    margin-left: 25px;
}

.menu-item {
    color: var(--second-lightest);
    text-decoration: none;
    text-align: center;
}

/* Menu needs to collapse under name and center on smaller screens. */
@media only screen and (max-width:900px) {
    header h1 {
        display: block;
        float: none;
        padding: 0;
    }

    header nav {
        background-color: var(--medium-dark);
        display: block;
        text-align: center;
        width: 100%;
        margin-right: 0px;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul li {
        margin-left: 0px;
        display: block;
        text-align: center;
        padding: 0;
    }
}

/* Web page banner */
.hero {
    min-height: 25vh;
    width: 100%;
    margin: 0;

    background-image: url("../images/WebGeekBearHeader.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Content section headers */
.content {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.content h2 {
    display: inline-block;
    margin: 0;
    width: 25%;
}

/* About me */
.about-me {
    flex-direction: row;
    float: right;
    width: 90vw;
}

/* Work section */
.work ul li {
    list-style-type: none;
}

/* One of the panels in the Work section */
.work ul li img {
    height: auto;
    display: inline-block;
}

/* Contact section */
.contact ul li {
    list-style-type: none;
}

.contact ul li a {
    text-decoration: underline;
}

.contact-item {
    color: var(--second-lightest);
    text-decoration: none;
    float: left;
    padding-right: 50px;
}

/* Contact information needs to collapse under name on smaller screens. */
@media only screen and (max-width:600px) {
    .contact {
        display: block;
    }

    .contact-item {
        float: none;
    }
}

/* Footer display (attributions) */
footer div a {
    color: var(--third-lightest);
}